:root{
    --primary-color: #49bbd4; /*light blue*/
    --secondary-color: #4975d4; /*purple-blue*/
    --accent1-color: #6249d4; /*purple*/
    --accent2-color: #162D5F; /*dark blue*/
    --heading-font: 'Times New Roman',Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--secondary-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 100px;
    margin-left: 20px;
}
article {
    position: absolute;
    bottom: 20px;
    padding: 10px;
    text-align: justify;
    opacity: 0.85;
    background-color: var(--primary-color);
}
footer img {
    width: 40px;
}
nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
nav {
    background-color: var(--accent2-color);
    padding: 1rem;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
}
.grid {
    display: gri;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}