body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
header, footer{
    background-color: #050504cc;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
}
main{
    width: 400px;
    margin: 0 auto;
}
h1{
    margin: 10px;
    text-align: center;
}
h2{
    border-bottom: 1px solid black;
}
img{
    width: 100%;
    height: auto;
    box-shadow: 2PX 2PX 30PX grey;
}
section{
    margin: 20px 0;
    border: 1px solid black;
    padding: 15px;
    background-color: #a8aa9fcc;
    font-size: .9rem;
}
section p{
    margin: 10px;
    text-align: justify;
}
ul{
    text-align: justify;
}